---
const { nombre, descripcion, rol, imagen, especialidades, imagenClasses } = Astro.props;
---
<div class="flex flex-col items-center w-full min-w-[330px] max-h-[500px] max-w-[330px] max-h-[500px] bg-theme-dark-gray shadow-lg rounded-2xl overflow-hidden">
    <!-- Imagen del coach -->
    <img class={`w-full h-[250px] object-cover ${imagenClasses}`} src={imagen} alt="" /> 
    
    <!-- Contenido -->
    <div class="flex flex-col w-full py-4 px-6 gap-4">
      <!-- Nombre, rol y descripción -->
      <div class="flex flex-col gap-2">
        <h3 class="text-3xl font-bold text-primary text-theme-white text-left">{nombre}</h3>
        <div class="text-sm text-primary-blue tracking-wide">{rol}</div>
        <div class="text-sm text-theme-white font-sans ">{descripcion}</div>
      </div>
  
      <!-- Especialidades -->
      <div class="flex flex-line justify-between gap-1 w-fit">
        {especialidades.map((spec: string, i: number) => {
            return (
            <div class="flex items-center justify-center gap-2 px-3 py-1 bg-theme-background-gray rounded-full text-sm font-medium ">
                <span class="flex justify-center items-center w-full text-center text-theme-light-gray font-sans text-xs">{spec}</span>
            </div>
            );
          })}
      </div>
    </div>
  </div>